#header {
  display:flex;
  position:relative;
  min-height:2.8rem;
}
#logo {
  position:absolute;
  top: -25px;
  left: -15px;
  margin:0;
}
@media (min-width: 762px) {
  #header {
    min-height:0;
  }
}