.cell {
  /* Four in a row (minus 1% for margin) */
  width:24%;
  width:calc(97% / 4);
  position:relative;
  margin:0 1% 8px 0;
  perspective: 1000;
}
.cell__input {
  display:none;
}
.cell__label,
.cell__back {
  border-radius:8px;
  transition-duration: 0.6s;
  transition-property: transform;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  cursor:pointer;
  width:100%;
  height:100%;
}
.cell__label {
  position:relative;
  padding:2px 4px;
  display:block;
  text-align:center;
  border:2px solid var(--main-color);
  background-color: #fff;
  transform: rotateY(0);
}
.cell__back {
  position:absolute;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  transform: rotateY(-180deg);
}
.cell__backLogo {
  position:absolute;
  top: 50%;
  left: 50%;
  margin:0;
  font-size:0.7rem;
  text-align:center;
  width:80%;
}
.cell__backLogo.who {
  /* Differs from normal .who class */
  background: #333;
  transform: rotateZ(-5deg) translate(-50%, -50%);
}
.cell__name {
  display: block;
  position: absolute;
  bottom: -4px;
  right: -4px;
  border-radius:4px;
  margin:0;
  font-size:0.7rem;
}

.cell__image {
  max-width:100%;
}

.cell.is-chosen .cell__label {
  border: 4px solid var(--highlight-color);
}
.cell.is-flipped .cell__label {
  transform: rotateY(180deg);
}
.cell.is-flipped .cell__back {
  transform: rotateY(0);
}
@media (max-width: 761px) {
  /* This is in a media query so it doesn't affect larger screens */
  .cell:nth-of-type(4n) {
    margin-right:0;
  }
}
@media (min-width: 762px) {
  .cell {
    /* Six in a row (minus 1% for margin) */
    width:15.833%;
    width:calc(95% / 6);
  }
  .cell:nth-of-type(6n) {
    margin-right:0;
  }
  .cell__label {
    padding:4px 8px;
  }
  .cell__name {
    font-size:1rem;
  }
  .cell__backLogo {
    font-size:0.9rem;
  }
}
