.action__buttons {
  display:flex;
  flex-wrap:wrap;
  justify-content: flex-end;
}
.action__buttons .btn {
  margin-right:8px;
  font-size:1.2rem;
}
.action__buttons .btn:last-child {
  margin-right:0;
}
.action__question {
  border:2px solid var(--main-color);
  flex-shrink: 0;
  width:100%;
  min-height:4rem;
  margin-bottom:.5rem;
  font-size:1.5em;
}