:root {
  --main-color: hsl(150, 28%, 19.6%);
  --text-color: hsl(0, 0%, 100%);
  --highlight-color: hsl(0, 60%, 30%);
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
    font-size: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
body {
  font-size: 100%;
  line-height: 1.5;
  color: var(--main-color);
  background-color: var(--text-color);
  margin:0;
  padding:0;
}
body, input, select, textarea {
  font-family: 'Raleway', sans-serif;
}
.container {
  width:100%;
  max-width:800px;
  margin:0 auto;
  padding:0.8rem 8px;
}
.who {
  padding: 0.2em 0.4em;
  background: var(--main-color);
  color: var(--text-color);
  transform: rotate(-5deg);
  /* If I find a good font for this, here's where to change it...
  font-family: 'Sedgwick Ave Display', cursive;
  */
  font-weight:400;
  border-radius:0.25em;
}
.btn {
  -webkit-appearance:none;
  background:var(--main-color);
  color:var(--text-color);
  border:none;
  font-size:1rem;
  padding:0.5em 1em;
  cursor:pointer;
  border-radius:4px;
}
.title {
  margin:0 0 0.5rem;
}
#footer {
  font-size:0.8rem;
  display:flex;
  min-height:2rem;
}
#footer p {
  width:50%;
  margin:0;
}
#footer p:last-child {
  text-align:right;
}
@media (min-width: 762px) {
  .container {
    padding:1.6rem 0.8rem;
  }
  #footer p {
    width:50%;
  }
  .title {
    padding-top:0;
    padding-left:200px;
    min-height:2.8rem;
  }
}